<html>
	<head>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src = "javascripts/clientSocket.js"></script>
		<link rel = "stylesheet" type="text/css" href = "css/game.css">
	</head>
	<body>
		<% include header %>
		<div id = "messages"></div>
		<div id = "welcome"> Welcome, <%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %> </div>
		<div id = "action_log"></div>
		<div id = "game_start">
		</div>

		<div id = "game">
			<div id = "winner"></div>
			<div id = "turn"></div>
			<div id = "jackpot"></div>
			<button id="check" type = "button" onclick="check()">Check</button><button id="fold" type = "button" onclick="fold()">Fold</button><br/>
			<input id="raise_amt" type = "number"><button id="raise" type = "button" onclick="raise()">Raise</button><br/>
			Your hand this round: <span id="cards"> </span><br/>
			<div id = "card_imgs"></div>
			Your bet this round: <span id = "bet">0</span><br/> 
			Current max bet: <span id = "max_bet"></span><br/> 
			<br/>
			You have <span id="chips"></span> chips.

			<div id = "flop"></div>
			<div id = "other_players"></div>
			<script>
		 		var this_user = <%- JSON.stringify(user) %>;
			</script>
		</div>
	</body>

</html>