<html>
	<head>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src = "javascripts/clientSocket.js"></script>
		
	</head>
	<body>
		<% include header %>
		<div id = "messages"></div>
		<div id = "welcome"> Welcome, <%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %> </div>
		
		<div id = "game_start">
		</div>

		<div id = "game" class = "container">
			<div id = "winner"></div>
			<div id = "turn" class = "row text-center"></div>
			<div id = "action_log" class = "row text-center"></div>
			<div id = "jackpot"></div>
			<div id = "chip_info" class = "row text-center">
				<div class = "small-6 columns" data-equalizer-watch>
				Your bet this round: <span id = "bet">0</span><br/>
				Current max bet: <span id = "max_bet"></span>
				</div>
				<div id = "chip_count" class = "small-6 columns" data-equalizer-watch>
				You have <span id="chips"></span> chips.
				</div>
			</div>
			<div id = "flop" class = "row text-center"></div>
			<div class = "row">
				<div class = "row">
					<div  id = "hand" class = "large-centered columns">
						Your hand<br/>
						<div id = "card_imgs"></div>
					</div>
				</div>
				<div class = "row">
					<div class = "small-centered columns text-center">
						<a id="check" class = "button large round" onclick="check()">Check</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a id="fold" class = "button large round" onclick="fold()">Fold</a><br/>
					</div>
				</div>
				<div class = "row">
					<div class = "small-centered small-4 columns text-center">
						<input id="raise_amt" type = "number">
						<a id="raise" class = "button large round" onclick="raise()">Raise</a><br/>
					</div>
				</div>
				
			</div>
			
			<div id = "controls">
				
			</div>
			
			
			<div id = "other_players" class = "row">
			</div>
			
			<script>
		 		var this_user = <%- JSON.stringify(user) %>;
			</script>
		</div>
		<a class = "button" href = '/logout'>Logout</a><br/>
		IN CASE OF EMERGENCY ONLY:
		<a class = "button"  onclick = "restart_game()">RESET GAME</a>
	</body>

</html>