img{
	width: 20%;
}

#other_players img{
	width: 200px;
	height: 280px;
}

button.round, .button.round {
    border-radius: 1000px;
    text-align: center;
    background-color: red;
}

body{
	color: white;
	background: url("../images/table.jpg") ;
	width:100%;
    height:100%; 
}

#turn{
	font-family: 'Artifika';
	font-size: 200%;
}

#banner{
	text-align: center;
	background-color: black;
	margin-bottom: 0px;
}

#banner h1{
	font-family: 'Bungee Shade';
	font-size: 300%;
}

#line{
	margin-top: 0px;
	background-color: red;
	color: red;
}

#hand{
	text-align: center;
	font-family: 'Artifika';
	font-size: 140%;
}

#welcome, #game_start, #winner, #chip_info{
	font-family: 'Artifika';
	font-size: 140%;
}

#chip_count{
	vertical-align: middle;
}

#action_log{
	font-family: 'Artifika';
	font-size: 140%;
	background-color: #333399;
}

a{
	color: white;
}

@media screen and (max-width: 799px) and (min-width: 300px){
	#chip_info{
		font-family: 'Artifika';
		font-size: 1em;
	}
}
